{% extends "base_admin.html" %}

{% block nav_items %}
<a class="nav-link" href="/admin/home">Home</a>
<a class="nav-link active" aria-current="page" href="/admin/add">Add</a>
<a class="nav-link" href="/admin/edit">Edit</a>
<a class="nav-link" href="/admin/delete">Delete</a>
{% endblock nav_items %}

{% block content %}
<div class="mb-3 p-3 text-black rounded shadow">
  <h4 class="mb-2 pb-2 border-bottom">Add redirect</h4>
  <form id="addForm">
    <div class="mb-3">
      <label for="idInput" class="form-label">ID</label>
      <input type="text" class="form-control" id="idInput" aria-describedby="idHelp" placeholder="<id>" pattern=".{1,{{ max_id_len }}}" title="Please enter 1 to {{ max_id_len }} characters">
      <div id="idHelp" class="form-text mb-3">Choose a custom id. Leave empty to auto-generate id.</div> 
      <label for="urlInput" class="form-label">URL</label>
      <input type="url" class="form-control" id="urlInput" aria-describedby="urlHelp" placeholder="https://www.example.com" required="required" inputmode="url" pattern=".{1,{{ max_url_len }}}" title="Please enter 1 to {{ max_url_len }} characters">
      <div id="urlHelp" class="form-text">Redirect users to this URL.</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="newTabCheck">
      <label class="form-check-label" for="newTabCheck">Open redirect in new tab</label>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
{% endblock content %}

{% block script %}
<script>
  addForm.onsubmit = async (e) => {
    e.preventDefault();
    data = {'action': "new", 'url': urlInput.value, 'new_tab': Number(newTabCheck.checked)};
    if (idInput.value !== "") data['id'] = idInput.value;
    const response = await fetch("/admin/config", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(data)
    });
    data = await response.json()
    if (data['result'] === "success") {
      window.location.replace(`/admin/add?suc=${data['message']}`);
      removeSessionStorageItems();
    }
    if (data['result'] === "error") window.location.replace(`/admin/add?err=${data['message']}`);
  };
  window.onload = () => {
    if ((val = sessionStorage.getItem("prevPage")) != null && val !== "add") removeSessionStorageItems(); 
    if ((val = sessionStorage.getItem("idInput")) != null) idInput.value = val;
    if ((val = sessionStorage.getItem("urlInput")) != null) urlInput.value = val;
    if ((val = sessionStorage.getItem("newTabCheck")) != null) newTabCheck.checked = (val === 'true');
  };
  window.onbeforeunload = () => {
    sessionStorage.setItem("prevPage", "add");
    sessionStorage.setItem("idInput", idInput.value);
    sessionStorage.setItem("urlInput", urlInput.value);
    sessionStorage.setItem("newTabCheck", newTabCheck.checked);
  };
  function removeSessionStorageItems() {
    sessionStorage.removeItem("prevPage");
    sessionStorage.removeItem("redirectSelect");
    sessionStorage.removeItem("idInput");
    sessionStorage.removeItem("urlInput");
    sessionStorage.removeItem("newTabCheck");
  }
</script>  
{% endblock script %}