{% extends "base_admin.html" %}

{% block nav_items %}
<a class="nav-link active" aria-current="page" href="">Init</a>
{% endblock nav_items %}

{% block content %} 
<div class="mb-3 p-3 text-black bg-warning rounded shadow">
  <h4 class="mb-2 pb-2 border-bottom border-secondary">DB Initialization</h4>
  <p class="mb-3">The database "{{database_name}}" needs to be initialized because the table "{{table_name}}" and / or the function "{{function_name}}" was not found in it. Please note that this operation does not override an existing table or function. If another table or function with the same name is already in use in this database, consider creating a new database and specifying its name via the respective environment variable.</p>
  <button type="button" class="btn btn-primary" id="initBtn">Init DB</button>
</div>
{% endblock content %}

{% block script %}
<script type="text/javascript">
  initBtn.onclick = async () => {
    data = {'action': "init"}
    const response = await fetch("/config", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(data)
    });
    data = await response.json()
    if (data['result'] === "success") window.location.replace(`/?suc=${data['message']}`);
    if (data['result'] === "error") window.location.replace(`/?err=${data['message']}`);
  };
</script>
{% endblock script %}