{% extends "base_admin.html" %}

{% block nav_items %}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="/add">Add</a>
<a class="nav-link" href="/edit">Edit</a>
<a class="nav-link active" aria-current="page" href="/delete">Delete</a>
{% endblock nav_items %}

{% block content %}
<div class="mb-3 p-3 text-black rounded shadow">
  <h4 class="mb-2 pb-2 border-bottom">Delete redirect</h4>
  <form id="editForm">
    <div class="mb-3">
      <label for="redirectSelect" class="form-label">Select redirect</label>
      <select id="redirectSelect" class="w-100 mb-3" required>
        <option value="" selected disbaled hidden>Choose...</option>
        {% for id, url, new_tab in redirects %}
        <option value="{{ id }}" data-id="{{ id }}" data-url="{{ url }}" data-new-tab="{{ new_tab }}">{{ id }}</option>
        {% endfor %}
      </select>
      <label for="idInput" class="form-label">ID</label>
      <input type="text" class="form-control mb-3" id="idInput" placeholder="<id>" disabled>
      <label for="urlInput" class="form-label">URL</label>
      <input type="url" class="form-control mb-3" id="urlInput" placeholder="https://www.example.com" disabled>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="newTabCheck" disabled>
      <label class="form-check-label" for="newTabCheck">Open redirect in new tab</label>
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>
{% endblock content %}

{% block script %}
<script>
  redirectSelect.onchange = () => {
    var selected = redirectSelect.options[redirectSelect.selectedIndex];
    idInput.value = selected.getAttribute('data-id');
    urlInput.value = selected.getAttribute('data-url');
    newTabCheck.checked = (selected.getAttribute('data-new-tab') === "1");
  }
  editForm.onsubmit = async (e) => {
    e.preventDefault();
    data = {'action': "delete", 'id': redirectSelect.options[redirectSelect.selectedIndex].value}
    const response = await fetch("/config", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify(data)
    });
    data = await response.json()
    if (data['result'] === "success") {
      window.location.replace(`/delete?suc=${data['message']}`);
      sessionStorage.removeItem("deleteRedirectSelect");
    }
    if (data['result'] === "error") window.location.replace(`/delete?err=${data['message']}`);
  };
  window.onload = () => {
    if ((val = sessionStorage.getItem("deleteRedirectSelect")) != null) redirectSelect.selectedIndex = val;
  };
  window.onbeforeunload = () => {
    sessionStorage.setItem("deleteRedirectSelect", redirectSelect.selectedIndex);
  };
</script>
{% endblock script %}